
<section>
  <h1 class="text-center text-main my-2">Forget Password</h1>

  @if (step == 1) {
    <form [formGroup]="VerifyEmail" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="EmailSubmit()">
      <div class="my-2">
        <label for="email">email</label>
        <input formControlName="email" id="email" type="email" class="form-control">
      </div>
      <button [disabled]="VerifyEmail.invalid" class="btn-main">Verify Email</button>
    </form>
  }

  @else if (step == 2) {
    <form [formGroup]="VerifyCode" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="CodeSubmit()">
      <div class="my-2">
        <label for="resetCode">resetCode</label>
        <input formControlName="resetCode" id="resetCode" type="text" class="form-control">
      </div>
      <button [disabled]="VerifyCode.invalid" class="btn-main">Verify Code </button>
    </form>
  }
 

@else if (step == 3) {
  <form [formGroup]="resetpassword" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="ResetSubmit()">
    <div class="my-2">
      <label for="email">email</label>
      <input readonly formControlName="email" id="email" type="email" class="form-control">
    </div>

    <div class="my-2">
      <label for="newPassword">newPassword</label>
      <input formControlName="newPassword" id="newPassword" type="password" class="form-control">
    </div>

    <button [disabled]="resetpassword.invalid" class="btn-main">Reset Password </button>
  </form>
}

</section>